
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-image: linear-gradient( rgb(49, 57, 96), rgb(253, 253, 253))
}

.cabeçalho {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px;

}
.imagemcabeçalho {
    display: flex;
    flex-direction: row-reverse;

    height: 72px;

}
.titulocabeçalho {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Fuzzy Bubbles', cursive;
    color: aliceblue;
    font-weight: 400;
}
.subtitulocabeçalho{
    color: aliceblue;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: 400;
    font-size: 300;
}
.texto{
    display: flex;
    margin-bottom: 48px;
    border-top: 0.4px solid rgb(173, 0, 0) ;
    flex-direction: column;
    
    margin-top: 48px;

    color: aliceblue;
    align-items: center;
}
.localizaçaotexto{
    color: aliceblue;
    align-items: center;
    display: flex;
    flex-wrap: row;
}
.textolocal{
    color: rgb(255, 77, 77);
}
.sobretexto{
    align-items: center;
    color: aliceblue;
    font-weight: 400;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(115, 0, 19);
    font-family: 'Fuzzy Bubbles', cursive;
}
.borda{
    
    display: flex;
    flex-direction: column;
}
